//-------------------------------------------------------------------------------//
//    Custom Variables
//    ===============================
//    Includes commonly used variables such as colors and font stacks
//-------------------------------------------------------------------------------//

// Font Stack
$heading-font: Helvetica, Arial, sans-serif;
$body-font: Arial, sans-serif;


// Google Material Design Color Palette
// http://www.google.com/design/spec/style/color.html#color-color-palette
$mat-red: #F44336;
$mat-pink: #E91E63;
$mat-purple: #9C27B0;
$mat-dp-purple: #673AB7;
$mat-indigo: #3F51B5;
$mat-blue: #2196F3;
$mat-lt-blue: #03A9F4;
$mat-cyan: #00BCD4;
$mat-teal: #009688;
$mat-green: #4CAF50;
$mat-lt-green: #8BC34A;
$mat-lime: #CDDC39;
$mat-yellow: #FFEB3B;
$mat-amber: #FFC107;
$mat-orange: #FF9800;
$mat-dp-orange: #FF5722;
$mat-brown: #795548;
$mat-grey: #9E9E9E;
$mat-blue-grey: #607D8B;